useDynLib(mta2)
importFrom(Rcpp, evalCpp)
importFrom(plyr,dlply)
importFrom(plyr,ddply)
importFrom(dplyr, data_frame)
importFrom(dplyr, '%>%')
importFrom(dplyr, tally)
importFrom(dplyr, summarize)
importFrom(dplyr, group_by)
importFrom(dplyr, ungroup)
importFrom(abind, abind)
export(
mt_angles,
mt_distmat,
mt_com,
mt_spatialize,
mt_align,
mt_clean,
mt_heatmap,
mt_viewer)
